<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao Blog do Dev!</h1>
  <p class="lead">Blog do DEV</p>
  <hr class="my-4">
  <p>Crie sua conta para acompanhar todos as novidades do mundo DEV.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Criar conta</a>
</div>

<hr>

<h2>Últimas postagens:</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais: </button></a> 
        <hr>
        <small>Categoria: {{categoria.nome}}</small><hr>
        <small>Data de Publicação: {{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}